* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    overflow: hidden;
    font-family: "EBGaramond";
}

@font-face {
    font-family: "EBGaramond";
    src: url(/fuente/static/EBGaramond-Bold.ttf);
    font-weight: bold;
    font-size: bold;
}

body {
    background-color: rgb(0, 0, 0);
}

.encabezado {
    width: 100vw;
    padding: 15px;
    background-color: #000000;
}

.menu {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu h1 {
    position: relative;
    color: rgb(255, 255, 255);
    left: 100px;
}

.bold {
    color: #ffb700;
}

.navba ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.navba li a {
    position: relative;
    margin: 0 20px;
    color: rgb(255, 255, 255);
    right: 20px;
    font-size: 20px;
}

.navba li a:hover {
    color: #ffb700;
}

.navba li a:active {
    color: #ffb700a8;
}

.list_items {
    position: relative;
    align-items: center;
    justify-content: center;
}

.navba_2 {
    position: relative;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0; 
    padding: 10px; 
}


.navba_2 li a {
    position: relative;
    margin: 0 20px;
    color: rgb(255, 255, 255);
    right: 20px;
    font-size: 20px;
}

.navba_2 li a:hover {
    color: #ffb700;
}

.navba_2 li a:active {
    color: #ffb700a8;
}

.bold_2 {
    color: #ffb700;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}



/*
button{
    padding:10px;
    margin: 20px;
    font-size: 15px;
    background-color: #ffb700;
    border: 0;
    border-radius: 15px;
}
button:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}
button:active{
    background-color: rgb(255, 0, 221);
    color: white;
}
*/
