* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    overflow: hidden;
    font-family: "EBGaramond";
}

@font-face {
    font-family: "EBGaramond";
    src: url(/fuente/static/EBGaramond-Bold.ttf);
    font-weight: bold;
    font-size: bold;
}

body {
    /* background-image:linear-gradient(to right,rgb(255, 80, 80),#FFC542) ,url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    background-color: #272727;
    color: white;
}

.encabezado {
    width: 100vw;
    padding: 15px;
    /*background-color: black;*/
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0, 0.6)), url();
}

.menu {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu h1 {
    position: relative;
    color: rgb(255, 255, 255);
    left: 100px;
}

.bold {
    color: #FEBA08;
}

.navba ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.navba li a {
    position: relative;
    margin: 0 20px;
    color: rgb(255, 255, 255);
    right: 20px;
    font-size: 20px;
}

.navba li a:hover {
    color: #FEBA08;
}

.navba li a:active {
    color: rgb(0, 216, 180, 0.5);
}

.cart-item {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#total-price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
.remove-button {
    background-color: #dc3545; /* Color rojo */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;  
}
.remove-button:hover {
    background-color: #c82333; /* Color rojo más oscuro al pasar el mouse */
}